# KWin Script Halves
# (C) 2021 Natalie Clarius <natalie_clarius@yahoo.de>
# GNU General Public License v3.0

[Desktop Entry]
Name=Swap Halves
Name[de]=Hälften tauschen
Comment=Swap the windows tiled to the horizontal or vertical halves of the screen
Comment[de]=Tauscht die an den horizontalen oder vertikalen Bildschirmhälften angehefteten Fenster

X-KDE-PluginInfo-Name=swaphalves
X-KDE-PluginInfo-Version=4.0
X-KDE-PluginInfo-Author=Natalie Clarius
X-KDE-PluginInfo-Email=natalie_clarius@yahoo.de
X-KDE-PluginInfo-License=GPL v3.0
X-KDE-PluginInfo-Website=https://store.kde.org/p/1617645

Type=Service
X-Plasma-API=javascript
X-Plasma-MainScript=code/main.js
X-KDE-ServiceTypes=KWin/Script,KCModule
X-KDE-ConfigModule=kwin/effects/configs/kcm_kwin4_genericscripted
X-KDE-PluginKeyword=swaphalves
X-KDE-ParentComponents=swaphalves
X-KDE-PluginInfo-EnabledByDefault=true
